# PostgreSQL Database Configuration
POSTGRES_DB=library_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432

# Database URL (используется приложением)
DATABASE_URL=postgresql://postgres:root@localhost:5432/library_db

# Application Settings
RESOURCES_PATH=resources
TEMP_PATH=temp
QR_SALT=lib_unique_salt_2026

# PgAdmin (опционально)
PGADMIN_EMAIL=admin@library.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Для GUI в Docker (если требуется)
DISPLAY=:99
QT_QPA_PLATFORM=offscreen
